In [ ]:
Ans1.

In [ ]:
 
The for loop is used when the number of iterations is already known.
Example:
    n = [1,2,3]
    for i in n:
        print(i)

A loop that executes a single statement or a group of statements for the given true condition.
The keyword used to represent this loop is "while".
A "while" loop is used when the number of iterations is unknown.
The statement repeats itself till the boolean value becomes false. 

Example:
    i=1
    while i<6:
        print(i)
        i+=1

In [ ]:
Ans 2

In [1]:
#sum of 10 natural number
add = 0
for i in range(1,11):
    add = add + i
add

55

In [2]:
#product of 10 natural number
product = 1
for i in range(1,11):
    product=product*i
product

3628800

In [3]:
#sum of 10 natural number
addition = 0
i=1
while i<=10:
    addition = addition + i
    i+=1
addition

55

In [5]:
#product of 10 natural number
product1=1
i=1
while i<=10:
    product1 = product1*i
    i+=1
product1

3628800

In [ ]:
ANS3.

In [7]:
units = int(input("enter consumed electricity in units"))
if units <=  100:
    electricity_bill = units*4.5 
elif units <= 200:
    electricity_bill = 100*4.5 + (units - 100)*6
elif units <= 300:
    electricity_bill = 100*4.5  + 100*6 + (units-200)*10
else:
    electricity_bill = 100*4.5 + 100*6 + 100*10 + (units-300)*20
    
print(electricity_bill)

enter consumed electricity in units 310

2250.0

In [ ]:
Ans 4.

In [ ]:
using for loop

In [11]:
l=list(range(1,101))
l1=[]
n=1
for i in l:
    n=i*i*i
    if n % 4 == 0 and n % 5 == 0:
        l1.append(n)
print(l1)

[1000, 8000, 27000, 64000, 125000, 216000, 343000, 512000, 729000, 1000000]

In [ ]:
using while loop

In [14]:
l = list(range(1,101))
l2=[]
x=1
y=0
while x <= len(l):
    y = x*x*x
    x = x+1
    if y % 4 == 0 and y % 5 == 0:
        l2.append(y)
print(l2)

[1000, 8000, 27000, 64000, 125000, 216000, 343000, 512000, 729000, 1000000]

In [ ]:
Ans 5.

In [27]:
string = "i want to become a data scientist" 
count = 0
for i in string:
    if i in ['a','e','i','o','u']:
        count += 1
print(count)

12